<div>
	{{#if user}}
		<h1>Tu perfil (sin datos sensibles)</h1>
		<p>Nombre Completo: {{user.first_name}} {{user.last_name}}</p>
		<p>Email: {{user.email}}</p>
		<p>Edad: {{user.age}}</p>
        {{else}}
        <h1>No hay un usuario logeado!</h1>
	{{/if}}
</div>